.item{
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.item-1{
  background-color: blueviolet;
}

.item-2{
  background-color: darkmagenta;
}

.item-3{
  background-color: aqua;
}
